.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-title {
  min-width: 50%;
  margin: 2rem 1rem;
  align-self: flex-start;
  padding: 10px 20px;
  border-radius: 4px;
  display: inline-block;
  background: #61dafb
}
